* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  background-repeat: no-repeat;
  background-size: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;

  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  padding: 20px 70px;
  color: #fff;
}

.time {
  font-size: 70px;
}

.date {
  font-size: 30px;
}
.date-container {
  font-weight: 100;
}

.date-container .time {
  font-size: 70px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
}

.place-container .location {
  font-size: 12px;
  font-weight: 700;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background-color: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.current-info .today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-info .today .other .day {
  padding: 5px 15px;
  background-color: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.current-info .today .temp {
  font-size: 18px;
  padding-top: 15px;
}

/* Current City Conditions */

.current-info {
  background-color: #000000d0;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 730px;
  margin: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 100;
  border: 1px solid #eee;
}

.search {
  justify-content: center;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background-color: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 75px);
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background-color: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #7c7c7c6b;
}

.city {
  font-size: 30px;
}

.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.conditions {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  display: inline-block;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 20px;
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader-dual-ring 2s linear infinite;
}

@keyframes loader-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Forecast */

.forecast {
  background-color: #000000d0;
  padding: 25px;
  position: fixed;
  bottom: 0%;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  /* background-color: #000000d0;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 730px;
  margin: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 100;
  border: 1px solid #eee; */
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
}

.forecast-item.day {
  padding: 5px 15px;
  background-color: #7c7c7c2b;
  border-radius: 50px;
  text-align: center;
}

.forecast-item .temp {
  font-weight: 100;
}

.forecast.loading {
  visibility: hidden;
}

.forecast.loading:after {
  visibility: visible;
}

/* Responsive Screen */

@media only screen and (max-width: 730px) {
  .current-info {
    padding: 20px;
    font-size: 14px;
  }

  .forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .weather.temp {
    font-size: 23px;
  }

  .current-date.time {
    font-size: 50px;
  }

  .current-date.date {
    font-size: 20px;
  }

  .city {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
